body {background-color: black;} 

h1 {color: orange;
  line-height:40px;
  font-size:80px;
  font-style:normal;
  color:rgba(255, 56, 0, 1);
  font-family: 'Alegreya Sans', sans-serif;
  text-align: center;
}

h2{color: orange;
  line-height:40px;
  font-size:45px;
  font-style:normal;
  color:rgba(255, 56, 0, 1);
  font-family: 'Alegreya Sans', sans-serif;
  text-align: center;
}

h3 {color: orange;
  line-height:40px;
  font-size:30px;
  font-style:normal;
  color:rgba(255, 56, 0, 1);
  font-family: 'Alegreya Sans', sans-serif;
  text-align: center;
}

a:link {
  color: #FFD580;
  background-color: transparent;
  text-decoration: none;
}
a:visited {
    color:#FFD580;
}